#titulo {
    width: 200px;
    height: 150px;
    color: chocolate;
}

code{
    font: italic normal 120 10px "Arial Black", AmdtSymbols;
    text-justify: auto;
}

#text_area{
    font: contextual normal 85 20px "Comic Sans MS", "Bodoni MT Condensed";
}

textarea{
    font: italic normal 130 20px "Arial Black", AmdtSymbols;

}

.container1{
    background-color: aquamarine;
}

.container2{
    background-color: chartreuse;
}

.info-personal{
    background-color: cadetblue;
}

.container3{
    background-color: teal;
}

.galeria-proyectos{
    background-color: coral;
}

.proyecto-item{
    background-color: darkblue;
}

.container4{
    background-color: forestgreen;
}

.container5{
    background-color: gold;
}